@import "reset";
@import "litegraph";
@import "loader";
@import "noty-theme";

@import '../../node_modules/sweetalert2/dist/sweetalert2.min.css';
@import '../../node_modules/@sweetalert2/theme-dark/dark.css';

html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 25px;
}

#main {
  width: 100%;
  height: 800px;
  background-color: #222;
  position: relative;
}

#editor {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#editor .toolsbar {
  width: 100%;
  height: 30px;
  background-color: #262626;
  margin: 0;
  padding: 0;
}

#editor .toolsbar button {
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px 0 0 3px;
}

#editor .toolsbar button.enabled {
  background-color: #66A;
}

#world {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

#worldcanvas {
  background-color: #343;
}

.popup {
  position: absolute;
  top: 0;
  background-color: rgba(50,50,90,0.8);
  width: 100%;
  height: 100%;
}

.popup .header, .nodepanel .header {
  width: 100%;
  height: 30px;
  font-size: 20px;
  padding: 2px;
}

#help {
  color: #eee;
}

#help p {
  margin: 10px;
}

.selector {
  font-size: 1.8em;
}


.selector select {
  color: white;
  background-color: black;
  border: 0;
  font-size: 1em;
}

.litegraph-editor {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #333;
  color: #eee;
  font: 14px Lato, sans-serif;

  position: relative;
}

.litegraph-editor h1 {
  font-family: Lato, sans-serif;
  color: #ddd;
  font-size: 23px;
  padding-left: 10px;
  margin: 0;
  font-weight: 100;
  line-height: 1.4;
}


.litegraph-editor h1 span {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #aaa;
}

.litegraph-editor h2 {
  font-family: Lato, sans-serif;
  padding: 5px;
  margin-left: 10px;
}

.litegraph-editor * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.litegraph-editor .content {
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  background-color: #000000;
}

.litegraph-editor .header,
.litegraph-editor .footer {
  position: relative;
  height: 40px;
  background-color: #333;
}

.litegraph-editor .tools,
.litegraph-editor .tools-left,
.litegraph-editor .tools-right {
  position: absolute;
  top: 2px;
  right: 0px;
  vertical-align: top;

  margin: 2px 5px 0 0px;
}

.litegraph-editor .tools-left {
  right: auto;
  left: 4px;
}

.litegraph-editor .footer {
  height: 40px;
  position: relative;
  /*border-radius: 0 0 10px 10px;*/
}

.litegraph-editor .miniwindow {
  background-color: #333;
  border: 1px solid #111;
}

.litegraph-editor .miniwindow .corner-button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}

/* BUTTONS **********************/

.litegraph-editor .btn {
  /*font-family: Lato, sans-serif;*/
  color: #ccc;
  font-size: 20px;
  min-width: 30px;
  /*border-radius: 0.3em;*/
  border: 0 solid #666;
  background-color: #3f3f3f;
  /*box-shadow: 0 0 3px black;*/
  padding: 4px 10px;
  cursor: pointer;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 0.4s;
}

.litegraph-editor button:hover {
  background-color: #999;
  color: #fff;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 0.4s;
}

.litegraph-editor button:active {
  background-color: white;
}

.litegraph-editor button.fixed {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2em;
}

.litegraph-editor button img {
  margin: -4px;
  vertical-align: top;
  opacity: 0.8;
  transition: all 1s;
}

.litegraph-editor button:hover img {
  opacity: 1;
}

.litegraph-editor .header button {
  height: 32px;
  vertical-align: top;
}

.litegraph-editor .footer button {
  /*font-size: 16px;*/
}

.litegraph-editor .toolbar-widget {
  display: inline-block;
}

.litegraph-editor .editor-area {
  width: 100%;
  height: 100%;
}

.litegraph-editor textarea.code, .litegraph-editor div.code {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 4px;
  font: 16px monospace;
  overflow: auto;
  resize: none;
  outline: none;
}

.litegraph-editor .codeflask {
  background-color: #2a2a2a;
}

.litegraph-editor .codeflask textarea {
  opacity: 0;
}

.litegraph.dialog.settings textarea {
  width: 360px;
  padding: 0px 0px;
  margin: 20px;
  background: transparent;
  border: none;
  height: 440px;
  color: white;
  font-family: 'Lato';
  resize: none;
}

.swal2-styled.swal2-confirm {
  background-color: rgb(0, 82, 204);
}